<h1>Rent this vehicle</h1>

<%= form_for [@vehicle, @rental] do |f| %>
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time, class: 'form-control' %>

  <%= f.label :end_time %>
  <%= f.datetime_select :end_time, class: 'form-control' %>

  <%= f.submit 'Rent', class: 'btn btn-primary' %>
<% end %>
