<div class = 'background-image'>
  <div class="button-and-text">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Indic+Siyaq+Numbers&family=Staatliches&display=swap" rel="stylesheet">
    <h1 class="display-1 text-center">LEAVE THE GUN, TAKE THE CANNOLI</h1>


    <div data-controller="toggle" class="mt-5;">
      <button data-action="click->toggle#fire" class="btn btn-outline-primary" id="btn">List Your "Legally Owned" Car</button>
      <div data-toggle-target="togglableElement" class="d-none">
        <%= render "form", vehicle: @vehicle %>
      </div>
    </div>
  </div>

<div class="container">
  <% @vehicles.each_slice(2) do |vehicles| %>
    <div class="row row-cols-2">
      <%vehicles.each do |vehicle|%>
        <div class="col p-3">
          <div class="card rounded-5">
            <% if vehicle.photo.attached? %>
              <%= cl_image_tag vehicle.photo.key, class: "car-pic-card mx-auto", height: 400, width: 600, crop: :fill %>
            <% else %>
              <img src= 'https://showme0-9071.kxcdn.com/files/615692/pictures/thumbs/1399770/last_thumb1392620933.jpg' class="card-img-top-middle" alt="..." style="width:10rem; height:10rem">
            <% end %>
            <div class="card-body">
              <h5 class="card-model">
                <%= vehicle.model%>
              </h5>
              <div class="d-flex justify-content-between mt-4">
                <div class="text_styling">
                  <p class ="card-power_source">
                    <%= vehicle.transmission %>
                  </p>
                </div>
                <p class ="card-power_source">
                  <%= vehicle.power_source %>
                </p>
                <p class="button-see-details">
                  <%= link_to "See details", vehicle_path(vehicle.id), class: "a" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
