<div class="d-inline-flex p-2 w-100 justify-content-around">
  <img src="https://images.unsplash.com/photo-1507882690564-a51298183825?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"  class="rounded d-block"  style="max-width:40%" alt="">
  <div style="width: 400px">
    <h1><%= @vehicle.model %></h1>
    <p>Transmission: <%= @vehicle.transmission %></p>
    <p>Power Source: <%= @vehicle.power_source %></p>
    <p>Color: <%= @vehicle.color%></p>
    <p>Doors: <%= @vehicle.doors%></p>
    <p>Kilometer: <%= @vehicle.kilometer %></p>
    <p>Year: <%= @vehicle.kilometer %></p>
    <p>License Plate: <%= @vehicle.license_plate %></p>

    <% if user_signed_in? %>
    <div data-controller="toggle" class="mt-5">
      <button data-action="click->toggle#fire" class="btn btn-outline-primary">Rent this vehicle</button>
        <div data-toggle-target="togglableElement" class="d-none mx-auto p-2" style="width: 400px">
          <%= simple_form_for [@vehicle, @rental], data: { controller: 'flatpickr' } do |f| %>
          <div  id='flat-booking-dates' data-unavailable="<%= @rental_all.to_json %>" ></div>
          <%= f.input :start_time, as: :date, input_html: { data: { flatpickr_target: "startTime" } } %>
          <%= f.input :end_time, as: :date, input_html: { data: { flatpickr_target: "endTime" } } %>
          <%= f.submit 'Confirm rental', class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    </div>
    <% else %>
    <%= link_to 'Log in to rent', new_user_session_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
